@import url('https://fonts.googleapis.com/css2?family=Poppins:300,400,500,600,700,800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    min-height: 100vh;
    background: #020403;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 40px 100px;
    z-index: 10000;
    transition: 0.6s;
}
header .logo {
    position: relative;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}
/* header .logo img {
    border-radius: 20px;
} */

header .mainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

header .mainer ul {
    margin: 0;
    padding: 0;
    display: flex;
}

header .mainer ul li {
    list-style: none;
    margin: 0 20px;
    transition: 0.5s;
}
header .mainer ul li a {
    display: block;
    position: relative;
    text-decoration: none;
    padding: 5px;
    font-size: 18px;
    font-family: sans-serif;
    color: #fff;
    text-transform: uppercase;
    transition: 0.5s;
}
header .mainer ul:hover li a {
    transform: scale(1.5);
    opacity: .2;
    filter: blur(5px);
}

header .mainer ul li a:hover {
    transform: scale(2);
    opacity: 1;
    filter: blur(0);
}
header .mainer ul li a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #020403;
    border-radius: 10px;
    transition: 0.5s;
    transform-origin: right;
    transform: scaleX(0);
    z-index: -1;
}
header .mainer ul li a:hover:before {
    transition: transform 0.5s;
    transform-origin: left;
    transform: scaleX(1);
    z-index: -1;
}


.banner.active header #toggle::before{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
.banner.active header #toggle::after{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}
.banner {
    position: absolute;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    background: url(bg.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    transition: 0.5s;
    z-index: 2;
    
}
.banner.active {
    transform: translateX(-400px);
}
#navigation {
    position: absolute;
    top: 0;
    right: 0px;
    width: 400px;
    height: 607px;
    background: #252839;
    z-index: 1;
    display: grid;
    place-items: center;
    transition: 0.5s;
    visibility: hidden;
}
#navigation.active {
    right: 0;
}
#navigation ul {
    position: relative;
    display: flex;
    flex-direction: column;
    
}
#navigation ul li {
    list-style: none;
}
#navigation ul li a {
    color: #fff;
    text-decoration: none;
    line-height: 1em;
    letter-spacing: 2px;
    display: inline-block;
    font-size: 2em;
    font-weight: 600;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5);
}
#navigation ul li a::before {
    content: attr(data-text);
    position: absolute;
    color: var(--clr);
    width: 0;
    overflow: hidden;
    transition: 1s;
    border-right: 2px solid var(--clr);
    -webkit-text-stroke: 1px var(--clr);
}

#navigation ul li a:hover::before {
    width: 100%;
    filter: drop-shadow(0 0 25px var(--clr));
}
.content {
    max-width: 600px;
}
.content h2 {
    color:#fff;
    font-size: 2.5em;
}
.content h2 span {
    color: #40c3ff;
    font-size: 1.2em;
}
.content p {
    font-size: 1.2em;
    color: #fff;
    font-weight: 300;
}
.content .btn a {
    position: relative;
    display: inline-block;
    margin-top: 20px;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 15px 35px rgba(255, 255, 255, 0.2);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    color: #fff;
    padding: 10px 30px;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 500;
    overflow: hidden;
    transition: 0.5s;
    backdrop-filter: blur(15px);
    border-radius: 10px;
}
.content .btn:hover a {
    letter-spacing: 2px;
}
.content .btn a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to left, rgba(255,255,255,0.15), transparent);
    transform: skewX(45deg) translateX(0);
    transition: 0.5s;
}
.content .btn:hover a::before {
    transform: skewX(45deg) translateX(200%);
}
.content .btn::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -5px;
    background: #f00;
    border-radius: 10px;
    transition: 0.5s;
    z-index: 1;
}
.sci {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 100px;
}
.sci li {
    list-style: none;
}
.sci li a {
    position: relative;
    display: grid;
    place-items: center;
    width: 50px;
    height: 50px;
    text-decoration: none;
    border: 1px solid #fff;
    margin: 10px 0 0;
}
.sci li a:hover {
    background: #fff;
}
.sci li a img {
    max-width: 20px;
    filter: invert(1);
    mix-blend-mode: difference;
}

@media (max-width:767px) {
    header {
        padding: 20px 50px;
    }
    .content {
        font-size: 1em;
        color: #fff;
        font-weight: 300;
        margin-left: -40px;
    }
    .banner {
        position: absolute;
        width: 100%;
        min-height: 100vh;
        padding: 100px;
        background: url(bg.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center top;
        background-attachment: fixed;
        display: flex;
        align-items: center;
        transition: 0.5s;
        z-index: 2;
        
    }
    /* .banner {
        padding: 100px 50px 150px;
    } */
    .banner h2 {
        font-size: 1.8em;
    }
    .banner .content a,
    .banner .content p {
        font-size: 1em;
    }
    .banner.active {
        transform: translateX(-250px);
    }
    .banner.active+#navigation {
        visibility: visible;
    }
    #navigation {
        height: 100vh;
        width: 250px;
    }
    #navigation ul li a {
        font-size: 1.5em;
        margin: 5px 0;
    }
    .sci {
        position: absolute;
        bottom: 50px;
        right: initial;
        flex-direction: row;
    }
    .sci li a {
        margin: initial;
        margin-right: 10px;
    }



    header #toggle {
        position: relative;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }
    header #toggle:before {
        content: '';
        position: absolute;
        top: 7px;
        width: 100%;
        height: 2px;
        background: #fff;
    }
    header #toggle:after {
        content: '';
        position: absolute;
        bottom: 7px;
        width: 100%;
        height: 2px;
        background: #fff;
    }































    header .mainer {
        display: none;
    }
    
}