/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #18191f;
} */
.tools {
    position: relative;
    top: 100vh;
    background: #252839;
}
.tools h2 {
    color: aliceblue;
    text-align: center;
    text-decoration: underline;
    font-size: 2em;
}
.tools ul {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 50px 0;
}
.tools ul li {
    position: relative;
    list-style: none;

}
.tools ul li {
    display: block;
    width: 70px;
    height: 70px;
    background: #18191f;
    line-height: 55px;
    text-align: center;
    margin: 0 10px;
    border-radius: 15px;
    box-shadow: -2px -2px 3px rgba(255, 255, 255, 0.05),
                3px 3px 3px rgba(0, 0, 0, 0.2);
}
.tools ul li .fa,
.tools ul li .fab {
    margin-top: 10px;
    height: 50px;
    width: 50px;
}
.tools ul li {
    font-size: 22px;
    color: #555;
}
.tools ul li:hover {
    cursor: pointer;
    color: #00f3ff;
    text-shadow: 0 0 15px #00f3ff;
}
.tools ul:nth-child(2) li:hover {
    color: #f00;
    text-shadow: 0 0 15px #f00;
}
.tools ul:nth-child(3) li:hover  {
    color: #0f0;
    text-shadow: 0 0 15px #0f0;
}